In [1]:

import pandas as pd

# Enhanced student dataset for better groupby examples
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack'],
    'Age': [20, 22, 19, 21, 20, 23, 19, 22, 20, 21],
    'Grade': [85, 92, 78, 88, 95, 72, 89, 81, 90, 87],
    'City': ['New York', 'Boston', 'Chicago', 'Boston', 'New York', 'Chicago', 'Boston', 'New York', 'Chicago', 'Boston'],
    'Subject': ['Math', 'Math', 'Science', 'Science', 'Math', 'Science', 'Math', 'Science', 'Math', 'Science'],
    'Hours_Studied': [10, 15, 8, 12, 18, 5, 14, 9, 16, 11]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age  Grade      City  Subject  Hours_Studied
0    Alice   20     85  New York     Math             10
1      Bob   22     92    Boston     Math             15
2  Charlie   19     78   Chicago  Science              8
3    David   21     88    Boston  Science             12
4     Emma   20     95  New York     Math             18
5    Frank   23     72   Chicago  Science              5
6    Grace   19     89    Boston     Math             14
7    Henry   22     81  New York  Science              9
8      Ivy   20     90   Chicago     Math             16
9     Jack   21     87    Boston  Science             11

In [3]:
# Average grade by city

avg = df.groupby("City")["Grade"].mean()
print(avg)

City
Boston      89.0
Chicago     80.0
New York    87.0
Name: Grade, dtype: float64

In [4]:
# Total hours studied by city
total_hours_by_city = df.groupby('City')['Hours_Studied'].sum()
print(total_hours_by_city)

# Count students per city
count_by_city = df.groupby('City').size()
print(count_by_city)

City
Boston      52
Chicago     29
New York    37
Name: Hours_Studied, dtype: int64
City
Boston      4
Chicago     3
New York    3
dtype: int64

In [7]:
gradestate = df.groupby("City")["Grade"].agg(["mean","sum","std","max","min","count"])
print(gradestate)

          mean  sum       std  max  min  count
City
Boston    89.0  356  2.160247   92   87      4
Chicago   80.0  240  9.165151   90   72      3
New York  87.0  261  7.211103   95   81      3

In [8]:
#groupby multiple columns
ans = df.groupby(["City","Age"])["Grade"].mean()
print(ans)

City      Age
Boston    19     89.0
          21     87.5
          22     92.0
Chicago   19     78.0
          20     90.0
          23     72.0
New York  20     90.0
          22     81.0
Name: Grade, dtype: float64

In [12]:
#diffFun on Diff Cols
answ = df.groupby("City").agg({
    "Grade":"mean",
    "Age":"count",
    "Hours_Studied":"median"
})

print(answ)

          Grade  Age  Hours_Studied
City
Boston     89.0    4           13.0
Chicago    80.0    3            8.0
New York   87.0    3           10.0

In [30]:
#custom aggregation
def rangeof(x):
    return x.max()-x.min()

print( df.groupby("City")["Grade"].agg(rangeof) )

City
Boston       5
Chicago     18
New York    14
Name: Grade, dtype: int64

In [34]:
#filter on aggregate

print( df.groupby("City").filter(lambda x : len(x)>2) )

      Name  Age  Grade      City  Subject  Hours_Studied
0    Alice   20     85  New York     Math             10
1      Bob   22     92    Boston     Math             15
2  Charlie   19     78   Chicago  Science              8
3    David   21     88    Boston  Science             12
4     Emma   20     95  New York     Math             18
5    Frank   23     72   Chicago  Science              5
6    Grace   19     89    Boston     Math             14
7    Henry   22     81  New York  Science              9
8      Ivy   20     90   Chicago     Math             16
9     Jack   21     87    Boston  Science             11

In [ ]:
print( df.groupby("City")["Grade"].transform("mean") )

0    87.0
1    89.0
2    80.0
3    89.0
4    87.0
5    80.0
6    89.0
7    87.0
8    80.0
9    89.0
Name: Grade, dtype: float64

In [37]:
df['Diff_From_City_Avg'] = df['Grade'] - df.groupby('City')['Grade'].transform('mean')
print(df)

      Name  Age  Grade      City  Subject  Hours_Studied  Diff_From_City_Avg
0    Alice   20     85  New York     Math             10                -2.0
1      Bob   22     92    Boston     Math             15                 3.0
2  Charlie   19     78   Chicago  Science              8                -2.0
3    David   21     88    Boston  Science             12                -1.0
4     Emma   20     95  New York     Math             18                 8.0
5    Frank   23     72   Chicago  Science              5                -8.0
6    Grace   19     89    Boston     Math             14                 0.0
7    Henry   22     81  New York  Science              9                -6.0
8      Ivy   20     90   Chicago     Math             16                10.0
9     Jack   21     87    Boston  Science             11                -2.0