In [1]:
import pandas as pd


# Creating a student dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry'],
    'Age': [20, 22, 19, 21, 20, 23, 19, 22],
    'Grade': [85, 92, 78, 88, 95, 72, 89, 81],
    'City': ['New York', 'Boston', 'Chicago', 'Boston', 'New York', 'Chicago', 'Boston', 'New York'],
    'Pass': [True, True, True, True, True, False, True, True]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Grade      City   Pass
0    Alice   20     85  New York   True
1      Bob   22     92    Boston   True
2  Charlie   19     78   Chicago   True
3    David   21     88    Boston   True
4     Emma   20     95  New York   True
5    Frank   23     72   Chicago  False
6    Grace   19     89    Boston   True
7    Henry   22     81  New York   True

In [3]:
toppers = df[df["Grade"]>88]
print(toppers)

    Name  Age  Grade      City  Pass
1    Bob   22     92    Boston  True
4   Emma   20     95  New York  True
6  Grace   19     89    Boston  True

In [4]:
st_fr_boston = df[df["City"] == 'Boston']
print(st_fr_boston.Name)

1      Bob
3    David
6    Grace
Name: Name, dtype: str

In [5]:
#multiple conditons
# Students from Boston OR Chicago
print(df[(df["City"] == "Boston")  | (df["City"] == "Chicago")])

      Name  Age  Grade     City   Pass
1      Bob   22     92   Boston   True
2  Charlie   19     78  Chicago   True
3    David   21     88   Boston   True
5    Frank   23     72  Chicago  False
6    Grace   19     89   Boston   True

In [6]:
# Age 20 AND from New York
print( df [ (df["Age"] == 20) & (df["City"]=="New York") ] )

    Name  Age  Grade      City  Pass
0  Alice   20     85  New York  True
4   Emma   20     95  New York  True

In [8]:
# Students NOT from New York
print(df[~(df["City"] == "New York")])

      Name  Age  Grade     City   Pass
1      Bob   22     92   Boston   True
2  Charlie   19     78  Chicago   True
3    David   21     88   Boston   True
5    Frank   23     72  Chicago  False
6    Grace   19     89   Boston   True

In [10]:
# Ages 19 or 22

print( df [df["Age"].isin([19,22])])

      Name  Age  Grade      City  Pass
1      Bob   22     92    Boston  True
2  Charlie   19     78   Chicago  True
6    Grace   19     89    Boston  True
7    Henry   22     81  New York  True

In [12]:
# Grades between 80 and 90 (inclusive)

num = df[ df["Grade"].between(80,90)]
print(num)

    Name  Age  Grade      City  Pass
0  Alice   20     85  New York  True
3  David   21     88    Boston  True
6  Grace   19     89    Boston  True
7  Henry   22     81  New York  True

In [15]:
#string filters
a = df [ df["Name"].str.startswith("A")]
print(a)

b = df[df["Name"].str.endswith("e")]
print(b)

    Name  Age  Grade      City  Pass
0  Alice   20     85  New York  True
      Name  Age  Grade      City  Pass
0    Alice   20     85  New York  True
2  Charlie   19     78   Chicago  True
6    Grace   19     89    Boston  True

In [17]:
#string cperation

b = df[df["City"].str.contains("or")]
print(b)

    Name  Age  Grade      City  Pass
0  Alice   20     85  New York  True
4   Emma   20     95  New York  True
7  Henry   22     81  New York  True