In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Henry'],
    'Age': [20, 22, 19, 21, 20, 23, 19, 22],
    'Grade': [85, 92, 78, 88, 95, 72, 89, 81],
    'City': ['New York', 'Boston', 'Chicago', 'Boston', 'New York', 'Chicago', 'Boston', 'New York'],
    'Pass': [True, True, True, True, True, False, True, True]
}

df = pd.DataFrame(data)
print(df.to_string())

      Name  Age  Grade      City   Pass
0    Alice   20     85  New York   True
1      Bob   22     92    Boston   True
2  Charlie   19     78   Chicago   True
3    David   21     88    Boston   True
4     Emma   20     95  New York   True
5    Frank   23     72   Chicago  False
6    Grace   19     89    Boston   True
7    Henry   22     81  New York   True

In [12]:
#single column sort
sortbyage = df.sort_values('Grade',ascending=False)

print(sortbyage)

      Name  Age  Grade      City   Pass
4     Emma   20     95  New York   True
1      Bob   22     92    Boston   True
6    Grace   19     89    Boston   True
3    David   21     88    Boston   True
0    Alice   20     85  New York   True
7    Henry   22     81  New York   True
2  Charlie   19     78   Chicago   True
5    Frank   23     72   Chicago  False

In [13]:
MultiSort = df.sort_values(["City","Name"])
print(MultiSort)

      Name  Age  Grade      City   Pass
1      Bob   22     92    Boston   True
3    David   21     88    Boston   True
6    Grace   19     89    Boston   True
2  Charlie   19     78   Chicago   True
5    Frank   23     72   Chicago  False
0    Alice   20     85  New York   True
4     Emma   20     95  New York   True
7    Henry   22     81  New York   True

In [14]:
Multisorted = df.sort_values(["City","Grade"],ascending=[True,False])
print(Multisorted)

      Name  Age  Grade      City   Pass
1      Bob   22     92    Boston   True
6    Grace   19     89    Boston   True
3    David   21     88    Boston   True
2  Charlie   19     78   Chicago   True
5    Frank   23     72   Chicago  False
4     Emma   20     95  New York   True
0    Alice   20     85  New York   True
7    Henry   22     81  New York   True

In [17]:
#sort by index
idx = df.sort_index()
print(idx)

idxs = df.sort_index(ascending=False)
print(idxs)

      Name  Age  Grade      City   Pass
0    Alice   20     85  New York   True
1      Bob   22     92    Boston   True
2  Charlie   19     78   Chicago   True
3    David   21     88    Boston   True
4     Emma   20     95  New York   True
5    Frank   23     72   Chicago  False
6    Grace   19     89    Boston   True
7    Henry   22     81  New York   True
      Name  Age  Grade      City   Pass
7    Henry   22     81  New York   True
6    Grace   19     89    Boston   True
5    Frank   23     72   Chicago  False
4     Emma   20     95  New York   True
3    David   21     88    Boston   True
2  Charlie   19     78   Chicago   True
1      Bob   22     92    Boston   True
0    Alice   20     85  New York   True

In [18]:
#sort and reset the index as from 0 to n

print( df.sort_values("City").reset_index(drop=True) )

      Name  Age  Grade      City   Pass
0      Bob   22     92    Boston   True
1    David   21     88    Boston   True
2    Grace   19     89    Boston   True
3  Charlie   19     78   Chicago   True
4    Frank   23     72   Chicago  False
5    Alice   20     85  New York   True
6     Emma   20     95  New York   True
7    Henry   22     81  New York   True

In [20]:
#inplace sorting
df1 = df.copy(deep=True)  #creating a copy first

df1.sort_values('Grade',inplace=True)
print(df1)

      Name  Age  Grade      City   Pass
5    Frank   23     72   Chicago  False
2  Charlie   19     78   Chicago   True
7    Henry   22     81  New York   True
0    Alice   20     85  New York   True
3    David   21     88    Boston   True
6    Grace   19     89    Boston   True
1      Bob   22     92    Boston   True
4     Emma   20     95  New York   True